

/*   A U T O B A S S   */
//   Jxnblk.com


// Variables
$dark-gray: #405660;
$mid-gray: rgba($dark-gray,.25);
$light-gray: #f3f9f9;
//$blue: #00bbee;
$blue: #009fcc;


// Base
body {
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  max-width: 48rem;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  color: $dark-gray;
  background-color: white;
}

a {
  word-wrap: break-word;
  text-decoration: none;
  color: $blue;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: 0;
    background-color: rgba($blue,.0625);
    box-shadow: 0 0 1px 2px rgba($blue,.5);
    border-radius: 2px;
  }
}

pre, code, samp, .monospace {
  font-family: 'Source Code Pro', Consolas, monospace;
  font-size: inherit;
}

b, strong, .bold { font-weight: 600; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  margin-top: 1em;
  margin-bottom: .5rem;
  font-weight: bold;
  a {
    color: $dark-gray;
    text-decoration: none;
    &:focus {
      text-decoration: underline;
    }
  }
}

h1 { font-size: 2rem;    line-height: 1.125; }
h2 { font-size: 1.5rem;  line-height: 1.25;  }
h3 { font-size: 1.25em;  line-height: 1.375; }
h4 { font-size: 1rem;    line-height: 1.375; }
h5 { font-size: .875rem; line-height: 1.375; }
h6 { font-size: .75rem;  line-height: 1.375; }

@media (min-width: 48em) {
  h1 { font-size: 3rem; }
  h2 { font-size: 2rem; }
}

p { font-size: 1.125rem; }

p, dl, ol, ul, blockquote, table {
  margin-top: 0;
  margin-bottom: 1rem;
}

hr {
  height: 1px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $mid-gray;
  border-left: 0;
}

ul, ol {
  padding-left: 2rem;
  ul, ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.caps {
  text-transform: uppercase;
  letter-spacing: .2em;
}

.medium { font-weight: 500; }

img { max-width: 100%; }
svg{ fill: $dark-gray; }

header, footer, section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

nav a, footer a {
  display: inline-block;
  line-height: 2rem;
  margin-right: 1rem;
}

ul {
  list-style: none;
  padding-left: 0;
}


// Whitespace
//.py1 { padding-top: 1rem; padding-bottom: 1rem; }
//.mb4 { margin-bottom: 4rem; }


