@import "basscss.scss";

// Responsive Spacing

$ratio: 2;
@media (min-width: 768px) {

  .responsive-spacing {

    // Margins
    @for $i from 1 through 4 {
      .m#{$i}  { margin: $space * $i * $ratio; }
      .mt#{$i} { margin-top: $space * $i * $ratio; }
      .mr#{$i} { margin-right: $space * $i * $ratio; }
      .mb#{$i} { margin-bottom: $space * $i * $ratio; }
      .ml#{$i} { margin-left: $space * $i * $ratio; }
    }

    // Padding
    @for $i from 1 through 4 {
      .p#{$i}  { padding: $space * $i  * $ratio; }
      .px#{$i} {
        padding-right: $space * $i * $ratio;
        padding-left: $space * $i * $ratio;
      }
      .py#{$i} {
        padding-top: $space * $i * $ratio;
        padding-bottom: $space * $i * $ratio;
      } 
    }

  }

}


// Theme
$text: #555;
$link:  #0096cc;
body {
  color: $text;
  background-color: #fff;
}
a {
  color: $link;
  text-decoration: none;
  &:hover {
    color: darken($link, 10%);
  }
}
