<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="author" content="Brent Jackson">
  <meta name="description" content="Designer & proponent of simplicity">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="http://jxnblk.com/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="http://jxnblk.com/apple-touch-icon.png"> 
  <link rel="stylesheet" href="http://d2v52k3cl9vedd.cloudfront.net/blk/0.0.11-blk.min.css">
</head>
