{% extends 'layouts/default.html' %}
{% set title = 'Jxnblk - Writing' %}
{% set subpage = 'Writing' %}

{% block content %}
<body class="container p2">

  {% include 'partials/header.html' %}

  <section class="sm-col-8 py2">
    <ul class="list-reset">
      {% for post in writing.posts %}
        <li class="mb3">
          <a href="{{ post.link }}">
            <h2 class="mb0">{{ post.title }}</h2>
            {% if post.subheading %}
              <h3 class="mt0">{{ post.subheading }}</h3>
            {% endif %}
          </a>
          {% if post.lead %}
            <p class="georgia mb4">
              {{ post.lead }}
              <a href="{{ post.link }}"> Read more...</a>
            </p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>


  <section id="reading-list" class="sm-col-9 py4">
    <h1 class="h5 caps m0">See also</h1>
    <h2 class="mt1"> <a href="http://jxnblk.github.io/reading-list">Reading List</a> </h2>
  </section>

</body>
