
@import 'blk';

.hrb {
  border-bottom-width: 3px;
  border-bottom-color: currentcolor;
}

@media (min-width:40em) {
  .sm-px3{
    padding-left: var(--space-3);
    padding-right: var(--space-3);
  }
}

@media (--breakpoint-lg) {
  .lg-px4{
    padding-left: var(--space-4);
    padding-right: var(--space-4);
  }
}

:root {
  /*
  --font-family: 'SF UI Text', Roboto, 'Avenir Next', 'Helvetica Neue', sans-serif;
  --heading-font-family: 'SF UI Display', Roboto, 'Avenir Next', 'Helvetica Neue', sans-serif;
  */
}

