
@import 'blk';

a:hover {
  text-decoration-color: var(--brightblue);
}

a:focus,
.btn:focus {
  outline: none;
  border-color: rgba(0,0,0,.125);
  box-shadow: 0 0 0 3px rgba(0,0,0,.25);

  border-color: var(--brightblue);
  box-shadow: 0 0 0 3px var(--brightblue);
  transition: box-shadow .3s ease-out, border-color .2s ease-out;
}

.hrb {
  border-bottom-width: 3px;
  border-bottom-color: currentcolor;
  opacity: .125;
}

.btn-link:hover {
  border-color: transparent;
}

.link-card {
  transition: border-color .2s ease-out;
}

.link-card:hover {
  box-shadow: none;
  border-color: var(--brightblue);
  box-shadow: inset 0 0 0 999px color(var(--brightblue) a(.03125));
}

.link-card:hover .link-underline,
.link-card:focus .link-underline {
  text-decoration: underline;
  text-decoration-color: var(--brightblue);
}

@media (min-width:40em) {
  .sm-px3{
    padding-left: var(--space-3);
    padding-right: var(--space-3);
  }
}

@media (--breakpoint-lg) {
  .lg-px4{
    padding-left: var(--space-4);
    padding-right: var(--space-4);
  }
}

:root {
  /*
  --font-family: 'SF UI Text', Roboto, 'Avenir Next', 'Helvetica Neue', sans-serif;
  --heading-font-family: 'SF UI Display', Roboto, 'Avenir Next', 'Helvetica Neue', sans-serif;
  */
}

